*{
    margin: 0;
}


html, body {

    /* declaração de variáveis */
    --black: hsl(240, 6%, 13%);
    --gray: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--gray);

    /*suaviza a fonte*/
    -webkit-font-smoothing: antialiased; 
}

body {
    display: grid;
    place-items: center;

}

main {
    background: url(/Mobile.png);
    width: 375px;
    height: 812px;
}

.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    /* cria níveis de empilhamento - selo está por cima, e bg e foto pessoal estão por baixo*/
    position: absolute; 
    top: -15px;

    /* é o  eixo de profundidade em terceira dimensão */
    z-index: 1;
}

/* o > procura apenas a imagem que está no primeiro nível - a primeira declarada*/
.avatar > img {
    width: 10rem;
    height: 11.5rem;

    /* a imagem se adapta à altura e largura declaradas acima*/
    object-fit: cover; 

    /* faz um recorte na imagem com o formato escolhido */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
    margin-top: 0.25rem;
    color: var(--gray);
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 3rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}